.main,
.newTask,
.newTask form {
    height: 100%;
}

.newTask {
    width: 50%;
}

#taskTitle,
#taskDesc {
    width: 100%;
    outline: none;
    border: none;
}

.label {
    width: 35%;
}


p-dropdown,
p-calendar,
.statusInput {
    height: 35px;
    width: calc(100% - 45%);
    padding: 0;
    border: none;
}


.addNewTask {
    text-decoration: none;
    border-radius: 5px;
    width: 60%;
    font-weight: 500;
    cursor: pointer;
    color: var(--IconsColor);

    i {
        font-size: 25px;
        color: var(--IconsColor);

    }

    @media screen and (max-width: 430px) {
        width: 80%;
    }
}

.save,
.submit,
.remove,
.delete {
    font-weight: 500;
}

.submit,
.delete {
    padding: 6px 40px;
}

.save {
    background-color: var(--IconsColor);
}

.remove {
    background-color: rgb(238, 238, 238);
    color: var(--IconsColor);
}

.submit,
.delete {
    background-color: var(--IconsColor);
    color: #fff;
}

.save {
    color: #fff;
}

.statusInput{
    border: 1px solid var(--IconsColor);
}
.EditTaskBtn{
    flex-direction: row;
}
.EditTaskBtn > button {
    margin: 0 5px;
}
.errMsg{
    color: rgb(220, 53, 69);
    font-weight: bold;
}


@media screen and (max-width: 440px) {
    .EditTaskBtn{
        flex-direction: column;
    }
    .EditTaskBtn > button{
        margin: 5px 0;
        width: 100%;    
    }
}

@media screen and (max-width: 550px) {
    .newTask {
        width: 100%;
    }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
    .newTask {
        width: 90%;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .newTask {
        width: 70%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .newTask {
        width: 80%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1500px) {
    .newTask {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .label {
        width: 100%;
    }


    p-dropdown,
    p-calendar,
    .statusInput {
        width: 100%;
    }
}
