*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main,
.newTask,
.newTask form {
    height: 100%;
}

.newTask {
    width: 50%;
}

#taskTitle{
    width: 55%;
    border: 1px solid var(--IconsColor);
    border-radius: 5px;
    height: 35px;
    outline: none;
}


.label {
    width: 30%;
    font-weight: 500;
    // color: var(--IconsColor);
}

p-dropdown,
p-calendar,
.statusInput {
    height: 35px;
    width: calc(100% - 45%);
    padding: 0;
    border: none;
}


.addNewTask {
    text-decoration: none;
    border-radius: 5px;
    width: 60%;
    font-weight: 500;
    cursor: pointer;
    color: var(--IconsColor);
    i {
        font-size: 25px;
        color: var(--IconsColor);

    }

    @media screen and (max-width: 430px) {
        width: 80%;
    }
}

.editTask,
.submit,
.remove,
.delete,
.display {
    font-weight: 500;
}

.submit,
.delete,
.display {
    padding: 6px 40px;
}

.editTask {
    background-color: var(--IconsColor);
    padding: 6px 10px;
}

.remove {
    background-color: rgb(238, 238, 238);
    color: var(--IconsColor);
}

.submit,
.delete, .display {
    background-color: var(--IconsColor);
    color: #fff;
}

.editTask {
    color: #fff;
}

.statusInput{
    border: 1px solid var(--IconsColor);
}
.EditTaskBtn{
    flex-direction: row;
}
.EditTaskBtn > button {
    margin: 0 5px;
}
.errMsg{
    color: rgb(220, 53, 69);
    font-weight: bold;
}
.subTask{
    border: 1px solid var(--IconsColor);
    border-radius: 5px;
}
.subTask input{
    border: none;
}
.subTaskIcon{
    color: var(--IconsColor);
    font-size: 18px;
    font-weight: 500;
}
.clickable{
    cursor: pointer;
}
.subTaskIcon:not(:last-child){
    margin-right: 5px;
}
.subTaskDone{
    text-decoration: line-through;
}
.form-check-input{
    width: 17px;
    height: 15px;
    border: 1px solid #dee2e6 !important;
    cursor: pointer;
}
.form-check-input:focus-visible{
    outline: none;
}
.form-check-input:focus{
    box-shadow: none;
}
.form-check-input:checked{
    background-color: var(--IconsColor);
    border-color: var(--IconsColor);
}
.noSubTasks{
    color: var(--IconsColor);
    font-weight: 500;
    font-size: 20px;
}

.closedSubTasks{
    text-decoration: line-through;
}

@media screen and (max-width: 440px) {
    .EditTaskBtn{
        flex-direction: column;
    }
    .EditTaskBtn > button{
        margin: 5px 0;
        width: 100%;    
    }
}

@media screen and (max-width: 550px) {
    .newTask {
        width: 100%;
    }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
    .newTask {
        width: 90%;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .newTask {
        width: 70%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .newTask {
        width: 80%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1500px) {
    .newTask {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .label {
        width: 100%;
    }

    #taskTitle{
        width: 100%;
    }

    p-dropdown,
    p-calendar,
    .statusInput {
        width: 100%;
    }
}
