<ng-container *ngFor="let taskType of tasksData">
    <div class="container-fluid h-100">
        <div class="row" *ngIf="showContent">
            <div class="d-flex align-items-center" *ngIf="currentUrl === '/tasks/upcoming' && weekRange ">
                <h1 class="main-header" style="font-size: 23px;">
                    {{ taskType.type }} </h1>
                <span class="range">( {{ weekRange.start }} To {{ weekRange.end }} )</span>
            </div>
            <p *ngIf="!taskType.tasks.length" class="noTasks ps-sm-4 pt-3">
                No Tasks {{ taskType.type === 'This-Week'? 'This Week' : taskType.type === 'Today' ? taskType.type : ''
                }}!
            </p>
            <div class="taskTemplate" *ngIf="taskType.tasks.length"
                [ngClass]=" {'m-auto': currentUrl === '/tasks/allTasks'} ">
                <div class="mx-0">
                    <div class="taskHolder px-3 py-2 d-flex my-3 align-items-center"
                        *ngFor="let task of taskType.tasks">
                        <input class="form-check-input" type="checkbox" [attr.id]="'checkBox-'+task.index"
                            value="option1" (click)="completeTask(task)">
                        <ng-container *ngIf="taskIndex === task.index">
                            <app-confirm-dialog [msg]="closeTaskConfirmMsg" (response)="userResponse($event)"
                                *ngIf="closeTaskReq" [fire]="closeTaskReq">
                            </app-confirm-dialog>
                        </ng-container>

                        <div class="ms-3 ms-sm-0 task w-100 d-flex flex-column flex-sm-row align-items-sm-center "
                            (click)="showTaskDetails(task.index)">
                            <p class="taskHeader ms-sm-2" [attr.id]="'header-'+task.index">{{ task.taskTitle.length > 20
                                ? task.taskTitle.slice(0, 15)+' .....' : task.taskTitle }}</p>
                            <div class="task-details d-flex flex-column flex-sm-row align-items-sm-center ms-sm-auto">
                                <div class="date my-2 my-sm-0 d-flex align-items-center justify-content-sm-center">
                                    <i class="bi bi-calendar2-event"></i>
                                    <span class="ms-2">{{ task.taskDate }}</span>
                                </div>
                                <span class="break mx-2 d-none d-sm-block">|</span>
                                <span class="status">{{ task.taskStatus }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <app-toast *ngIf="result.value" [msg]="message" [fire]="result" [type]="notification" (response)="toastClosed($event)">
            </app-toast>
            
             <!-- Dialog Message -->
             <app-dialog [message]="message" [isActive]="showDialog" *ngIf="showDialog.value" ></app-dialog>
        </div>

        <div class="row h-100 d-flex justify-content-center align-items-center " *ngIf="!showContent">
            <app-spinner class="text-center"></app-spinner>
        </div>
    </div>
</ng-container>